# Common
PYTHONUNBUFFERED=1

# PostgreSQL
POSTGRES_DB=reports_db
POSTGRES_USER=report_user
POSTGRES_PASSWORD=report_password
DATABASE_URL=postgresql+psycopg2://report_user:report_password@postgres:5432/reports_db

# Redis
REDIS_URL=redis://redis:6379/0
REDIS_STREAM_NAME=report_tasks
REDIS_CONSUMER_GROUP=pdf_workers
WORKER_NAME=pdf-worker-1

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=reports
MINIO_SECURE=false

# Services
REPORT_SERVICE_URL=http://report-service:8000

